h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

p,
a,
span,
li,
input,
label,
button {
  font-family: $secondary-font;
}

a {
  transition: 0.3s;
}

a:hover {
  color: $base-color;
  transition: 0.3s;
}
