@import "../settings/breakpoints";

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1360px;

  @media (min-width: $sm) {
    padding: 0 16px;
  }

  @media (min-width: $lg) {
    padding: 0 24px;
  }

  @media (min-width: $xl) {
    padding: 0 40px;
  }
}
