$base-color: #fdd204;
$secondary-color-1: #241215;
$secondary-color-2: #3d2529;
$secondary-color-3: #573d41;
$secondary-color-4: #14080a;
$secondary-color-5: #0a0304;
$support-color-1: #eddbad;
$support-color-2: #d3bd85;
$support-color-3: #fff3d4;
$support-color-4: #baa163;
$support-color-5: #a18745;
